/doc/
/lib/
/obj/
*.opensdf
*.sdf
*.suo
/data/
/prj/linux_cmake_DatasetToImage/build/
/prj/linux_cmake_DatasetToImage/data
/prj/linux_cmake_Math/build/
/prj/linux_cmake_Math/data
/prj/linux_cmake_tiny-cnn/build/
/prj/linux_cmake_tiny-cnn/data
/prj/linux_cmake_tiny-dnn/build/
/prj/linux_cmake_tiny-dnn/data
/prj/linux_cmake_NN/build/
/prj/linux_cmake_NN/data
/prj/x86_x64_vc12/.vs
.vscode
demo/Python/*.onnx
data/database/BacknoteDataset/*.csv
demo/Python/*.log
demo/Python/*.pt
demo/Python/*.engine
demo/Python/*.torchscript
demo/Python/*.jpg
demo/Python/*.png
demo/Python/datasets
demo/Python/runs
demo/Python/*.yaml
demo/Python/result*
demo/Python/tmp
demo/Python/test.py
demo/Python/*.bin
demo/Python/*.data
